doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title App landing
    link(rel='stylesheet' href='css/main.css')
  body
    .wrapper
      include includes/header
      include includes/overview
      include includes/feature
      include includes/video
      include includes/screenshot
      include includes/achieve
      include includes/feedback
      include includes/pricing
      include includes/download
      include includes/news
      include includes/footer
